/* Config */
:root {
    --green: #32E0C4;
    --green-hard: #0D7377;
    --black: #212121;
    --white:#EEEEEE;
    --xs: 0.8rem;
    --sm: 1.2rem;
    --md: 1.6rem;
    --lg: 2.4rem;
    --xl: 3.2rem;
    --xll: 4.0rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    background-color: var(--green-hard);
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Teko', sans-serif;
}

/* Main */

.title {
    margin: var(--lg) 0;
    font-size: var(--xll);
    font-weight: 700;
    color: var(--white);
    text-align: center;
}

.main {
    max-width: 1800px;
    margin: 0 auto;
    padding-bottom: var(--xs);
}

.subtitle {
    margin: var(--sm) 0;
    font-size: var(--lg);
    font-weight: 500;
    color: var(--white);
    text-align: center;
}

.main .button-select {
    display: block;
    margin: var(--sm) auto;
    padding: var(--xs) var(--lg);
    background-color: var(--green-hard);
    border: 2px solid var(--green);
    border-radius: var(--xs);
}

.main .button-select .button-link {
    font-size: var(--lg);
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
}

.main .button-select:hover {
    background-color: var(--green);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .3s all;
}

.main .button-select:hover .button-link {
    color: var(--green-hard);
}

.main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pakiman-card {
    background-color: var(--green);
    width: fit-content;
    margin: var(--md) 0;
    padding: var(--md) var(--xl);
    border-radius: var(--xs);
    transition: all .5s;
    cursor: pointer;
}

.pakiman-name {
    color: var(--black);
    font-size: var(--lg);
    text-align: center;
}

.pakiman-content {
    display: flex;
    align-items: center;
}

.pakiman-img {
    width: 100px;
}

.pakiman-stats h5 {
    font-size: var(--md);
    margin-left: var(--sm);
    color: var(--black);
    letter-spacing: 1px;
}

.pakiman-card:hover, .pakiman-card-active  {
    background-color: var(--green-hard);
    filter: drop-shadow(0px 0px 10px #EEEEEE);
    transition: all .5s;
}

.pakiman-card:hover .pakiman-name ,
.pakiman-card:hover .pakiman-stats h5,
.pakiman-card-active .pakiman-name,
.pakiman-card-active .pakiman-stats h5 {
    color: var(--white);
}


/* Map Section */
.map {
    max-width: 1800px;
    margin: auto;
    display: none;
}

.map-content {
    padding: var(--md);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mapCanvas{
    width: 300px;
    height: 300px;
    object-fit: fill;
}

.map-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--xl);
}

.map-controls button {
    display: block;
    margin: var(--sm);
    padding: var(--xs) var(--lg);
    background-color: var(--green-hard);
    border: 2px solid var(--green);
    border-radius: var(--xs);
    color: var(--white);
    font-size: var(--md);
    font-weight: 600;
    cursor: pointer;
}

.map-controls button:hover, .map-controls button:active {
    background-color: var(--green);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .3s all;
    color: var(--green-hard);
}

.map-controls div {
    display: flex;
}

/* Battle */
.battle {
    display: none;
    max-width: 1800px;
    margin: 0 auto;
    padding-bottom: var(--xs);
}

.battle-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: auto;
    margin-bottom: var(--lg);
    background-image: url("../assets/images/map.png");
}

.battle .button-battle {
    display: block;
    margin: var(--sm) auto;
    padding: var(--xs) var(--lg);
    background-color: var(--green-hard);
    border: 2px solid var(--green);
    border-radius: var(--xs);
}

.battle .button-battle .button-link {
    font-size: var(--lg);
    font-weight: 600;
    color: var(--white);
    text-decoration: none;
}

.battle .button-battle:hover {
    background-color: var(--green);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: .3s all;
}

.battle .button-battle:hover .button-link {
    color: var(--green-hard);
}

.battle-pakiman {
    width: 80%;
    margin: auto;
    display: grid;
}

#pakiman1  {
    justify-content: flex-end;
}

#pakiman2  {
    justify-content: flex-start;
}

#pakiman2 img {
    transform: rotateY(180deg);
}

.battle-stacks h3 {
    font-size: var(--lg);
    color: var(--white);
}

.battle-stacks p {
    font-size: var(--md);
    font-weight: 600;
    color: var(--green);
    text-shadow: 1px 1px 2px var(--black);
}

.lifeBar {
    width: 100%;
    height: 5px;
    background-color: var(--white);
    border-radius: 5px;
}

.lifeBar-update {
    height: 5px;
    background-color: var(--green-hard);
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    /* Map Section */
    .map-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .map-controls {
        margin-left: var(--xl);
    }

    #mapCanvas {
        width: 500px;
        height: 500px;
    }
}

@media screen and (min-width: 1000px) {
    /* Main Section */
    .main-section {
        flex-direction: row;
    }

    .pakiman-card {
        margin: var(--md);
    }
}